.app.light{
  --bg-color: #e8e8ea;
  --inverted-bg-color: #090949;

  --primary-color: #02248a;
  --secondary-color: #0059ff;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
}