.navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.links {
  display: flex;
  align-items: center;
}

.link {
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}